@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Alexandria:100,200,300,regular,500,600,700,800,900);@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Abel:regular);
@import url(https://fonts.googleapis.com/css?family=Roboto+Flex:regular);
@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

.nav-font
{
  font-family:"Abel" !important;
  font-size:1.5em
}
body,html{
  overflow-x:hidden;
  height:100%
}

.sidecol{
  min-height:75vh;
}

.card{
  max-width: 50%;
}
a:hover{
 
  color:rgb(255, 200, 0) !important;
}

.side-bar{
  max-width: 90% !important;
}

.card-body{
  padding:0 0 0 0 !important;
}

.card-title{
  text-align: center !important;
}

h{
  color: rgb(255, 200, 0);
  font-size: 1.8em;
  font-family: "Roboto Flex";
}
.bg-tron-dark{
  background-color: rgba(0, 64, 103, 0.264) !important;
}
.bg-tron-light{
  background-color: rgba(0, 118, 191, 0.604) !important;
}

.ft{
  font-family: "Jost";
  font-size: small;
  color: blanchedalmond;
}

.cast{
  max-height:250px
}

.side_text{
  font-family:"Alexandria" !important;
  font-size: 1.4em !important;
}
.banimage{
  max-height: 40vh !important;
  max-width: 30vw !important;
}

a{
  text-decoration: none;
}
.bg-tron{
  background-image: url("https://wallpapercave.com/wp/wp2799855.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@media screen and (max-width:992px)
{
  .navbar-brand{
    display:inline;
  }
  .bg-tron{
    background: linear-gradient(0deg, rgb(0, 47, 64) 0%, rgb(0, 0, 0) 54%, rgb(0, 33, 42) 100%);
    /* background-image: url("wp2799855_sm.jpg"); */
    background-size:cover;
  }
  .banimage{
    max-height: 100vh !important;
    max-width: 70vw !important;
  }
  .sidecol{
    min-height:10vh !important
  }
  
  .card-title{
    font-size: .7em !important;
  }
}



